.two_model-container {
    display: flex;
    flex-direction: column;
    width: 56%; /* Adjust width as needed */
    min-height: 100vh; /* Ensure it takes up the full viewport height */
    max-height: 100vh; /* Prevent it from growing beyond the viewport height */
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%); /* Start hidden on the right */
    transition: transform 0.5s ease-in-out; /* For slide effect */
    z-index: 1000; /* Ensure it's above other elements */
    overflow-y: auto; /* Enables vertical scrolling */
  }
  
  .two_model-container.slide-in {
    transform: translateX(0); /* Slide in from the right */
  }
  
  .two_model-container.slide-out {
    transform: translateX(100%); /* Slide out to the right */
  }
  
  .two_close-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1010; /* Higher z-index to ensure the button is above other elements */
  }
  
  .two_close-btn svg {
    width: 24px;
    height: 24px;
    stroke: #000; /* Black color for visibility */
  }
  
  .two_divider-line {
    width: 100%;
    height: 2px; /* Make it thicker */
    background-color: #444; /* Darker color for better visibility */
    border: none; /* Remove default borders */
    margin: 20px 0; /* Spacing above and below */
    z-index: 999; /* Ensure it appears above background elements */
    opacity: 1; /* Remove any transparency */
  }
  
  .two_content-heading {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #333;
    text-align: center;
  }
  
  .two_content-paragraph {
    margin: 60px;
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
    text-align: left; /* Adjust text alignment if needed */
    line-height: 1.5;
    margin-bottom: 15px; /* Adds some spacing between paragraphs */
  }
  
  .two_image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .two_slideshow-image {
    max-width: 80%;
    height: auto;
    object-fit: contain;
  }
  
  .two_nav-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #666;
  }
  
  .two_nav-button:hover {
    color: #333;
  }
  